
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <div class="circle-tile-heading dark-blue"><i class="fas fa-store fa-3x"></i></div>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded"> Products</div>
          <div class="circle-tile-number text-faded "><%=@products_count %></div>
          <a class="circle-tile-footer" href="/admin/products">More Info <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div>
     
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <div class="circle-tile-heading red"><i class="fa  fa-clipboard fa-fw fa-3x"></i></div>
        <div class="circle-tile-content red">
          <div class="circle-tile-description text-faded"> Categories </div>
          <div class="circle-tile-number text-faded "><%=@categories %></div>
          <a class="circle-tile-footer" href="/admin/categories">More Info<i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div> 
  </div> 
</div>  