
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About <span>Jungle</span></h1>
								<h3>Welcome to the Jungle! </h3>
								<p class="about-paddingB">We aim to offer our customers a variety of the latest and Funkiest Apparel, Electronics, Furniture . We’ve come a long way, so we know exactly which direction to take when supplying you with high quality yet budget-friendly products. We offer all of this while providing excellent customer service and friendly support. </p>
								<p>We always keep an eye on the latest trends in every category and put our customers’ wishes first. That is why we have satisfied customers all over the world, and are thrilled to be a part of the industry.</p>
                <p>The interests of our customers are always top priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you.</p>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="/uploads/about/istockphoto-533740879-170667a.jpeg" alt="">
							</div>
						</div>	
                    </div>
                </div>
            </div>