<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmed: Your order <% @order_id %> From Jungle</h1>
    <p>Please see your order details below. We will send a follow-up email once your order has shipped.<br>
    </p>
    <p>Thanks for shopping with us and have a great day!</p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Price</th>
          <th>Quantities</th>
          <th>Total amount</th>
        </tr>
      </thead>
      <tbody>
        <%= render @line_items %>
        
        <tr>
          <td colspan="4">
            Order Total
          </td>  
          <td>
            <%= humanized_money_with_symbol @order.total_cents %>
          </td>
        </tr>
        <tr>
        </tr>
        </tbody>
    </table>

  </div>

  </body>
</html>